/* CSS reset */
*{
    box-sizing: border-box;
    margin:0 ;
    padding:0;
    font-family: 'Montserrat', sans-serif;
}
html{
    scroll-behavior:smooth;
}
section
{
    /* border: 2px solid blue; */
    padding:1rem;

}
span
{
    font-size: 0.9rem;
}

/* Navbar Section */
li,a,button{
     font-family: 'Montserrat', sans-serif;
     font-size: 1rem;
     color:grey;
     text-decoration: none;
     padding :0.2rem 1rem;
     margin: 0.5rem 0;
}
header{
    display:flex;
    align-items: center;
    justify-content: flex-end;
    padding:1.2rem 5%;
    background-color: #24252A;
    color: aliceblue;
}

.logo
{ 
    margin-right: auto;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}
.logo img
{
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
  border-radius: 50%;
}
.nav_links
{
    list-style: none;
}
.nav_links li
{
    display: inline-block;
    padding:0 1.25rem;
}
.nav_links li a{
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover{
    color:cyan;
    background-color: grey;
    border-radius: 0.7rem;
    padding :0.2rem 1rem;
}
/* home */
#home
{
    padding: 0;
    
}
#home span{
    font-size: 3rem;  
}
#home img
{
     width:100% ;
    height:20rem;
}

.description
{

    display:flex;
    flex-direction: column;
   align-items:  center;
   justify-content: center;
    position:absolute;
    top:12rem;
   left:10rem;
    color:white;
}
/* about */

/* content*/
.Cmd-dsr
{
   
    background-color:black;
    color: rgb(17, 186, 17);
    border: 1px solid grey;
}
.Cmd-dsr p
{ color: aliceblue;
   font-size: 0.9rem; 
   font-style: italic;


}

section h1,h2{
background-color:	#607B8B ;
color:aliceblue;
display: inline-block;
width:30vw;
padding :0 0.5rem;
}
/* footer */
footer {
    display: flex;
    flex-direction: column;
    align-items:center ;
    justify-content: center;
    background-color: darkslategray;
    color:whitesmoke;
}
/*Responsive Design*/
@media only screen and  (min-width: 300px) and (max-width: 370px) {
    #home span{
        font-size: 1.7rem;  
    }
    section h1,h2{
        width:80vw;
       
        }
    .description{
           top:15rem;
          left:4rem;
         width:15rem;
        
         }
}

@media only screen and (min-width: 370px) and (max-width: 500px) {
    #home span{
        font-size: 1.7rem;  
    }
    section h1,h2{
    width:80vw;
   
    }
    .description{
      top:15rem;
     left:4rem;
    width:15rem;
   
    }
  }
  @media only screen and (min-width: 500px) and (max-width: 1100px) {
    .description{
        top:12rem;
        left:3rem;  
       }
       li,a,button{
        font-family: 'Montserrat', sans-serif;
        font-size: 1rem;
        color:grey;
        text-decoration: none;
        padding :0.2rem 0.5rem;
        margin: 0.5rem 0;
   }
   #tag ul
   {
       display: flex;
       flex-direction: column;
   }
}